@charset "utf-8";
/* CSS Document */
body {
  background: #021033;
}
.banner {
  position: relative;
  width: 1920px;
  height: 960px;
  background: linear-gradient(108.97deg, #FFEDAF 27.2%, #B6CBFE 99.49%);
}
.pattern {
  position: absolute;
  width: 1197px;
  height: 913px;
  left: 723px;
  top: 23px;
}
.logo {
  position: absolute;
  width: 392.4px;
  height: 372.25px;
  left: 169px;
  top: 77px;
}
p {
  position: absolute;
  width: 483px;
  height: 170px;
  left: 136px;
  top: 508px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #000000;
}
p1 {
  position: absolute;
  width: 483px;
  height: 50px;
  left: 136px;
  top: 750px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #000000;
}
p2 {
  position: absolute;
  width: 140px;
  height: 41px;
  left: 125.59px;
  top: 855.77px;
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 150%;
  /* identical to box height, or 40px */
  letter-spacing: 0.03em;
  color: #000000;
}
hr {
  position: absolute;
  width: 0px;
  height: 75px;
  left: 288.59px;
  top: 830px;
  border: 1px solid #000000;
}